* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  background: #E1FF8F;
  height: 800px;
  background-image: url(img/bigstar.svg), url(img/Star\ 2.svg), url(img/Star\ 3.svg), url(img/Star\ 4.svg), url(img/Star\ 5.svg);
  background-repeat: no-repeat;
  background-position: left 923px bottom 19px, left 63px top 94px, left 156px top 69px, top 568px left 1013px, top 538px left 948px;
  overflow: hidden;
}
.top__box {
  width: 768px;
  height: 357px;
}
.top__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #202027;
  padding-top: 196px;
  padding-bottom: 24px;
  width: 769px;
}
.top__desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #202027;
  padding-bottom: 48px;
  width: 720px;
}

.button {
  display: inline-block;
  text-align: center;
  padding-top: 16px;
  border: 1px solid #202027;
  border-radius: 60px;
  background: #202027;
  width: 247px;
  height: 66px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.button:hover {
  background: transparent;
  color: #202027;
  border: 1px solid rgb(0, 0, 0);
}

.footer-top__nav {
  display: flex;
  gap: 51px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #BCEC30;
  height: 90px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 0;
  padding: 27px;
}
.footer-top__nav-link {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
}
.footer-top__icon {
  width: 36px;
  height: 36px;
}

.heft {
  font-weight: 600;
  color: #202027;
}

.game {
  height: 1470px;
  padding-top: 94px;
  background-color: #202027;
  background-image: url(img/bigstar2.svg), url(img/Star\ 11.svg), url(img/Star\ 12.svg);
  background-repeat: no-repeat;
  background-position: top 77px left 980px, top 770px left 25px, top 822px left 40px;
}
.game__name {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.game__desc {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 788px;
  height: 96px;
  padding-top: 24px;
}
.game__conteiner {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding-top: 72px;
  height: 1056px;
}
.game__card {
  position: relative;
  width: 378px;
  background-color: #ffffff;
  border-radius: 30px;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.game__card:hover {
  transform: scale(1.05);
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.game-box {
  position: absolute;
  left: 32px;
  bottom: 36px;
}
.game__title {
  padding-top: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #202027;
}
.game__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #271A58;
}
.game__content {
  position: relative;
}
.game__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game__card_1 {
  height: 473px;
}
.game__card_2 {
  height: 512px;
}
.game__card_3 {
  height: 473px;
}
.game__card_4 {
  height: 551px;
  margin-top: -6px;
}
.game__card_5 {
  height: 512px;
  margin-top: 32px;
}
.game__card_6 {
  height: 551px;
  margin-top: -6px;
}

.mini-games {
  background-color: #202027;
  padding-top: 46px;
  padding-bottom: 144px;
  background-image: url(img/Star\ 6.svg), url(img/Star\ 7.svg), url(img/Star\ 8.svg), url(img/Star\ 10.svg);
  background-repeat: no-repeat;
  background-position: top 126px right 45px, top 93px right 124px, bottom 65px right 52px, bottom 45px right 150px;
}
.mini-games__name {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #ffffff;
  padding-bottom: 72px;
}
.mini-games__conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.mini-games__card {
  width: 1200px;
  height: 500px;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
}
.mini-games__card_revers {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.mini-games__content {
  position: relative;
}
.mini-games__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 128px;
  height: 141px;
}
.mini-games-box {
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 48px;
}
.mini-games__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #202027;
  padding-bottom: 24px;
}
.mini-games__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #202027;
  margin-bottom: 36px;
}

.footer {
  height: 150px;
  background-color: #BCEC30;
}
.footer__name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 425px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    background-image: url(img/star\ mobil\ 1.svg), url(img/star\ mobil\ 2.svg), url(img/star\ mobil\ 3.svg), url(img/star\ mobil\ 4.svg), url(img/star\ mobil\ 5.svg);
    background-repeat: no-repeat;
    background-position: top -80px left 222px, top 64px left 91px, top 97px left 37px, bottom 125px right 86px, bottom 79px right 34px;
  }
  .top__box {
    width: 343px;
    height: 371px;
  }
  .top__title {
    width: 296px;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .top__desc {
    width: 296px;
    font-size: 16px;
    line-height: 20px;
  }
  .top__btn {
    width: 285px;
    height: 55px;
    font-size: 16px;
    text-align: center;
  }
  .footer-top__nav {
    height: 51px;
    gap: 27px;
    padding: 17px;
  }
  .footer-top__nav-link {
    font-size: 16px;
  }
  .footer-top__icon {
    width: 19px;
    height: 19px;
  }
  .mini-games__title {
    font-size: 32px;
  }
  .mini-games__text {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=stil.css.map */